.marcas-container{
    padding-top: 30px;
    margin:auto;
    max-width: 1000px;
}

.marca-container {
    padding: 5px;
}

.marca-container .marca-card {
    display: flex;
    align-items: center;
    justify-content: center;
    border:1px solid blue;
    border-radius: 5px;
    height: 70px;
}
